[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/hni-sct/rocket-chip.git
[submodule "sifive-blocks"]
	path = sifive-blocks
	url = https://github.com/hni-sct/sifive-blocks.git
[submodule "fpga-shells"]
	path = fpga-shells
	url = https://github.com/sifive/fpga-shells
[submodule "nvidia-dla-blocks"]
	path = nvidia-dla-blocks
	url = https://github.com/sifive/nvidia-dla-blocks.git
[submodule "hni-blocks"]
	path = hni-blocks
	url = https://github.com/hni-sct/hni-blocks.git
[submodule "Chisel_Lib"]
	path = Chisel_Lib
	url = https://github.com/juli963/Chisel_Lib
